<!DOCTYPE html>
<!--[if (IE 8)&(!IEMobile)]><html class="ie8" lang="{{ app.request.locale }}"><![endif]-->
<!--[if (IE 9)&(!IEMobile)]><html class="ie9" lang="{{ app.request.locale }}"><![endif]-->
<!--[if (gt IE 9)]><!--><html lang="{{ app.request.locale }}" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
	<meta charset="{{ _charset|lower }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{% block title %}{% endblock %}</title>
	{% block meta %}
		<meta name="description" content="{% block description %}{% endblock %}" />
	{% endblock %}
	{% block stylesheet %}{% endblock %}
</head>
<body class="{% block body_class %}body{% endblock %}">
	<div id="container">
		{% block banner_outer %}
			<div id="banner" class="header">
				<header role="banner">
					{% block banner %}{% endblock %}
				</header>
			</div>
		{% endblock %}
		{% block navigation_outer %}
			<div id="navigation" class="nav">
				<nav role="navigation">
					{% block navigation %}{% endblock %}
				</nav>
			</div>
		{% endblock %}
		{% block main_outer %}
			<div id="main" class="main">
				<main role="main">
					{% block main %}
						{% if app.session.getFlashBag.has('message') or app.session.getFlashBag.has('error') or app.session.getFlashBag.has('success') %}
							<ul class="main--messages">
								{% for message in app.session.getFlashBag.get('message') %}
									<li>{{ message }}</li>
								{% endfor %}
								{% for message in app.session.getFlashBag.get('error') %}
									<li class="error">{{ message }}</li>
								{% endfor %}
								{% for message in app.session.getFlashBag.get('success') %}
									<li class="success">{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endblock %}
				</main>
			</div>
		{% endblock %}
		{% block aside_outer %}
			<div id="sidebar" class="aside">
				<aside role="complementary">
					{% block aside %}{% endblock %}
				</aside>
			</div>
		{% endblock %}
		{% block footer_outer %}
			<div id="footer" class="footer">
				<footer role="contentinfo">
					{% block footer %}{% endblock %}
				</footer>
			</div>
		{% endblock %}
	</div>
	{% block javascript %}{% endblock %}
</body>
</html>